<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.info.aegis.lawpush4android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".LawPushApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.iml.ChatActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.DataDetailActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.LawDetailActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.HelpActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.GuideActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.ChooseActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.DialogActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.TextActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.SubGuideActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.SettingActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.ProgramQuestionDialogActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.StandardQuestionDialogActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.iml.SecondGuideActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"
                android:value="1"/>
        </activity>
               <activity
            android:name=".view.iml.imgActivity"
            android:screenOrientation="landscape">
            <meta-data android:name="RECOGNIZE_MODE"  android:value="1"/>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XUe1GIo6cPDCPOTi1ZdwMdyMVjNuKrgr" />
        //key:开发者申请的Key
        <activity
            android:name=".view.iml.TestActionActivity"
            android:label="@string/title_activity_test_action">
            <meta-data
                android:name="config_record"
                android:value="true" />
            <meta-data android:name="RECOGNIZE_MODE"  android:value="1"/>
        </activity>
    </application>

</manifest>